@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
*{
    font-size: 50px;
    background-color: #fafafa;
    font-family: 'Braah One', sans-serif;
}

.calculator{
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttonWrapper{
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(4, 100px);
}

.btn{
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 20px;
    border: 0px;
    background-color: #f7f9fc;
}

.displayWrapper{
    text-decoration-color: black;
    text-align: right;
    padding: 15px;
    margin: 10px;
    height: 60px;
    background-color: #eaeff9;
    border-radius: 15px;
    font-size: 60px;
}

.display{
    background-color: transparent;
}

.equal{
    width: 190px;
    background-color: #d3e3fd;
}

.obtn{
    background-color: #c2e7ff;
}